<nav id="navbar">
    <div id="resize-handle"></div>
        <div id="user-info">
            <div style="color: black;">
                <i class="fa-regular fa-user" id="user"></i> 
                {{user.role}}
            </div>
            <div *ngIf="user" id="user-name">
                Username: {{ user.username }} <br/>
                Email: {{ user.email }}<br/>
            </div>
        </div>

        <div id="menuElementos">
            <button id="botaoElemento" (click)="navigateToHome()"  >
                <a routerLink="/operations" routerLinkActive="active">Home</a>
            </button>
            <button id="botaoElemento" *ngIf="user?.role === 'Doctor'" (click)="navigateToOperations()">
                <a routerLink="/operations" routerLinkActive="active">Operations</a>
            </button>
            <button id="botaoElemento" *ngIf="user?.role === 'Patient'" (click)="navigateToPatientMenu()">
                <a routerLink="/profile" routerLinkActive="active">Profile</a>
            </button>
            <button id="botaoElemento" *ngIf="user?.role === 'Admin'">
                <a routerLink="/profile" routerLinkActive="active">Patients</a>
            </button>
            <button id="botaoElemento" *ngIf="user?.role === 'Admin'">
                <a routerLink="/profile" routerLinkActive="active">Users</a>
            </button>
            <button id="botaoElemento" *ngIf="user?.role === 'Admin'">
                <a routerLink="/profile" routerLinkActive="active">Staff</a>
            </button>
        </div>
    
</nav>
