

    <header class="header" id="header" >

            <div *ngIf="isMenuVisible">
                <!-- logo isep -->
                <img src="https://portal.isep.ipp.pt/global/images/intranet/escolas/i_isep_portal_logo_2023.png" style="width: 180px;">
            </div>

            <div *ngIf="!isMenuVisible">
            <!-- menu icon -->
                <i class="fa-solid fa-bars" id="menuIcon" (click)="toggleMenu()"></i>
            </div>

            <div *ngIf="isMenuVisible">
                <!-- close icon -->
                <i class="fa-solid fa-angle-left" id="closeIcon" (click)="toggleMenu()"></i>
            </div>

            <div id="title-path-logout">
                <!-- caminho -->
                <div class="url-buttons" style="gap: 0; margin-top: 10px;" id="path">
                    <button id="butaoUrl" (click)="navigateToHome()">
                        /main
                    </button>
                    <button *ngFor="let segment of urlSegments" (click)="navigateTo(segment)" id="butaoUrl">
                    /{{ segment }}
                    </button>
                </div>
                <!-- titulo empresa -->
                <h1 class="header-title" id="title">G74 - SARM</h1>

                <!-- login -->
                <div *ngIf="!user">
                    <button id="login-button">Login</button>
                </div>
                <!-- logout -->
                <div  *ngIf="user" (click)="logout()">
                    <button id="login-button">Logout</button>
                </div>
                
            </div>
            
            
        
    </header>
    <div *ngIf="isMenuVisible">
        <app-navbar/>
    </div>
