#header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 60px;
  width: 100%;
  z-index: 1000;
  background-color: white;
  
}

#title{
  color: rgb(117, 2, 2);
  margin-top: 16px;
  margin-left: 20px;
  font-size: 40px;
  font-weight: bold;
}

#menuIcon{
  color: rgb(117, 2, 2);
  margin-left: 10px;
  font-size: 24px;
}

#menuIcon:hover{
  color: orange;
  margin-left: 10px;
  font-size: 25px;
}

#closeIcon{
  color: rgb(117, 2, 2);
  margin-left: 10px;
  font-size: 24px;
}

#closeIcon:hover{
  color: orange;
  margin-left: 10px;
  font-size: 25px;
}

#path{
  margin-left: 20px;
}

#title-path-logout{
  display: flex;
  gap: 15px;
  width: 100%;
  
  height: 40px;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#login-button{
  padding: 3px;
  margin-right: 20px;
  color: white;
  font-size: 20px;
 
  border-radius: 5px;
  background-color: rgb(117, 2, 2);
  cursor: pointer;
}

#login-button:hover{
  margin-right: 20px;
  color: white;
  font-size: 20px;
  padding: 4px;
  border-radius: 5px;
  background-color: rgb(66, 1, 1);
  cursor: pointer;
}