<h1>Delete Operations</h1>


<div id="firstDiv">
    
    <table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Medical Record Number</th>
            <th>Licence Number</th>
            <th>Priority</th>
            <th>Deadline Date (yyyyMMdd)</th>
            <th>Operation Type ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let operation of operations; let i = index; trackBy: trackByIndex">
            <td>{{operation.operationRequestId}}</td>
            <td>{{operation.medicalRecordNumber.medicalNumber}}</td>
            <td>{{operation.licenceNumber}}</td>
            <td>{{getPriorityDescription(operation.priority.priorityDescription)}}</td>
            <td>{{operation.deadlineDate.date}}</td>
            <td>{{operation.operationTypeId}}</td>
            <td>
                <button>Delete</button>
            </td>
            <td>
                <button>Edit</button>
            </td>
        </tr>
    </tbody>
    </table>
</div>
