<h2>Admin Menu</h2>
<div>
  <div>
    <button (click)="navigateTo('register-user')">Register Users</button>
  </div>
  <div>
    <button (click)="navigateTo('create-patient')">Create Patient Profile</button>
    <button (click)="navigateTo('update-patient')">Update Patient Profile</button>
    <button (click)="navigateTo('delete-patient')">Delete Patient Profile</button>
  </div>
  <div>
    <button (click)="navigateTo('create-staff')">Create Staff Profile</button>
    <button (click)="navigateTo('list-all-staff')">List Staff Profiles</button>
  </div>
</div>