<html>
<h1>SARM</h1>
<h2>Main Menu</h2>
<div class="menu">
  <button (click)="redirectToRegister()">Register New User</button>
</div>
<div id="g_id_onload"
     data-client_id="714890624754-jkbbtsarf5nstsm1b55qpcph4b1e0aon.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="https://localhost:5001/api/auth/google-login"
     data-auto_prompt="false">
</div>

<div style="display: flex; width: 260px; margin-top: 10px;" class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
</html>
