<html>
<h1 id="companyTitle">SARM</h1>
<div id="box">

<div class="menu" id="registerNewUserTitle">
  <button (click)="redirectToRegister()">Register New User</button>
</div>
<script>
  import {MainMenuComponent} from "./main-menu.component";

  function handleCredentialResponse(response) {
    MainMenuComponent.handleCredentialResponse(response);
  }
</script>

  <div id="g_id_onload"
      data-client_id="714890624754-jkbbtsarf5nstsm1b55qpcph4b1e0aon.apps.googleusercontent.com"
      data-callback="handleCredentialResponse"
      data-context="signin"
      data-ux_mode="popup"
      data-auto_prompt="false">
  </div>

  <div style="display: flex; width: 260px; margin-top: 10px;" class="g_id_signin" id="loginGoogleButton"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
  </div>
</div>
</html>
