body{
    background: linear-gradient(90deg, #02012c, #06235a); 
    
  

   
    
    color: black;
}

#firstDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f5f5f5;
}

#AddOperation{
    
    cursor: pointer;
    margin-left: 15px;
    color: blue;
    align-items: center;
    padding: 4px;
}
#AddOperation2{
    
    cursor: pointer;
    color: blue;
    align-items: center;
    padding: 4px;
}


#AddOperation:hover{
    text-decoration: underline;
    
}
#AddOperation2:hover{
    text-decoration: underline;
    
}

#tableData{
    padding: 4px;
    align-items: center;
}

#tableColumns{
    color: black;
    font-weight: bold;
    padding: 4px;
}