



<div id="firstDiv">
    
    
    <table border="1" id="table">
    <thead>
        <tr>
        <th id="tableColumns">ID</th>
        <th id="tableColumns">Medical Record Number</th>
        <th id="tableColumns">Licence Number</th>
        <th id="tableColumns">Priority</th>
        <th id="tableColumns">Deadline Date (yyyy/MM/dd-hh:mm)</th>
        <th id="tableColumns">Operation Type ID</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let operation of operations; let i = index; trackBy: trackByIndex">
            <td id="tableData">{{operation.operationRequestId}}</td>
            <td id="tableData">{{operation.medicalRecordNumber.medicalNumber}}</td>
            <td id="tableData">{{operation.licenceNumber}}</td>
            <td id="tableData">{{getPriorityDescription(operation.priority.priorityDescription)}}</td>
            <td id="tableData">{{operation.deadlineDate.date | date: 'yyyy/MM/dd-HH:mm'}}</td>
            <td id="tableData">{{operation.operationTypeId}}</td>
            <td>
                <button (click)="redirectToEdit(operation)" id="AddOperation2">Edit</button>
            </td>
            <td>
                <button (click)="deleteOperation(operation)"  id="AddOperation2">Delete</button>
            </td>
            
            
        </tr>
    </tbody>
    </table>
    <div style=" margin-top: 5px; " >
        <button (click)="redirectToRegister()" type="button" id="AddOperation">+ Add Operation</button>
    </div>

    
</div>


