<div class="container">
    <!--Title-->
    <h2>Patients Medical Records</h2>

    
    <!--Search Bar-->
    <div class="filter-section">
        <select [(ngModel)]="selectedOption" (keydown.enter)="onSearch()" >
          <option value="medical condition">Medical Condition</option>
          <option value="allergy">Allergy</option>
          <option value="patientId">Patient ID</option>
        </select>
        <div class="search-container">
          <input type="text" [(ngModel)]="searchInput" [placeholder]="'Search name '" (keydown.enter)="onSearch()">
          <button class="search-btn"  aria-label="Search" (click)="onSearch()">
            Search
          </button>
        </div>

        <button class="edit-btn" (click)="toggleAddForm()" style="margin-left: 5px;">
          Add
        </button>
    </div>

    <!--Add Medical Record Form-->
    <div *ngIf="showAddForm" class="add-form">
      
      <form (ngSubmit)="addMedicalRecord()">
          <div>
              <label for="patientId">Patient ID:</label>
              <br>
              <select id="patientId" [(ngModel)]="medicalRecord.patientId" name="patientId" required>
                <option *ngFor="let patient of patients" [value]="patient.medicalRecordNumber">{{ patient.medicalRecordNumber }}</option>
              </select>
          </div>
          <div>
              <label for="medicalConditions">Medical Conditions:</label>
              <br>
              <select id="medicalConditions" name="medicalConditions" multiple
                (change)="onMedicalConditionsChange($event)">
              <option *ngFor="let condition of medicalConditions" [value]="condition.medicalConditionCode">
                {{ condition.designation }}
              </option>
            </select>
          </div>
          <div>
              <label for="allergies">Allergies:</label>
              <br>
              <select id="allergies" name="allergies" multiple
                (change)="onAllergiesChange($event)">
                <option *ngFor="let allergy of allergies" [value]="allergy.code">
                  {{ allergy.designation }}
                </option>
              </select>
          </div>
          <div>
              <label for="freeText">Free Text:</label>
              <textarea type="text" id="freeText" [(ngModel)]="medicalRecord.freeText" name="freeText" required style="height: 200px;width: 100%;text-align: left; vertical-align: top;"></textarea>
          </div>
          <div style="margin-top: 15px;">
            <button type="submit" class="edit-btn" style="margin-right: 5px;" (click)="onSubmit()" >Add</button>
            <button type="button" class="edit-btn" (click)="toggleAddForm()">Cancel</button>
          </div>
          <hr>
      </form>
    </div>

  
    <!--Not Found Message-->
    <div *ngIf="medicalRecords.length === 0" class="no-records">
      <p>Medical Records Not Found.</p>
    </div>

    <!--Loading -->
    <div class="no-records" *ngIf="isLoading">Loading...</div>
    
    <!--Medical Records List-->
    <div *ngFor="let record of medicalRecords; let i = index; trackBy: trackByIndex" class="medical-record">

      <ng-template #viewMode>
        <div><strong>Patient ID:</strong> {{ record.patientId }}</div>
        <div><strong>Alergies:</strong> {{ record.allergies.join(', ') }}</div>
        <div><strong>Medical Conditions:</strong> {{ record.medicalConditions.join(', ') }}</div>
        <div><strong>Free Text:</strong> {{ record.freeText }}</div>
        <div class="actions">
            <button class="edit-btn" (click)="editMedicalRecord(record)">Edit</button>
        </div>
      </ng-template>

        <!--If edit button is pressed-->
        <div *ngIf="selectedForUpdate && selectedForUpdate.patientId === record.patientId; else viewMode" class="medical-record">
          <form (ngSubmit)="editMedicalRecord(selectedForUpdate)">
            
            <div>
                <div><strong>Patient ID:</strong> {{ selectedForUpdate.patientId }}</div>
                


                <label for="medicalConditions">Medical Conditions:</label>
                <br>
                <select id="medicalConditions" name="medicalConditions" multiple
                  (change)="onMedicalConditionsChange($event)">
                <option *ngFor="let condition of medicalConditions" [value]="condition.medicalConditionCode">
                  {{ condition.designation }}
                </option>
              </select>
            </div>
            <div>
                <label for="allergies">Allergies:</label>
                <br>
                <select id="allergies" name="allergies" multiple
                  (change)="onAllergiesChange($event)">
                  <option *ngFor="let allergy of allergies" [value]="allergy.code">
                    {{ allergy.designation }}
                  </option>
                </select>
            </div>
            <div>
                <label for="freeText">Free Text:</label>
                <textarea type="text" id="freeText" [(ngModel)]="medicalRecord.freeText" name="freeText" required style="height: 200px;width: 100%;text-align: left; vertical-align: top;"></textarea>
            </div>
            <div style="margin-top: 15px;">
              <button type="submit" class="edit-btn" style="margin-right: 5px;" (click)="onSubmit()" >Save</button>
              <button type="button" class="edit-btn" (click)="cancelEdit()">Cancel</button>
            </div>
            <hr>
        </form>

        </div>
        <hr>
    </div>


</div>
